# Ejercicio Pandas

### Ejercicio de slicing de un dataframe

Crear un DataFrame de ejemplo con estos datos de ventas:
```
producto	ventas	fecha
A	100	2022-01-01
B	200	2022-01-02
C	150	2022-01-03
D	180	2022-01-04
E	80	2022-01-05
F	90	2022-01-06
G	210	2022-01-07
H	190	2022-01-08
I	220	2022-01-09
J	130	2022-01-10
```

In [2]:
import pandas as pd

# Crear DataFrame con datos de ventas
data = {'producto': ['A','B','C','D','E','F','G','H','I','J'],
        'ventas': [100, 200, 150, 180, 80, 90, 210, 190, 220, 130],
        'fecha': ['2022-01-01','2022-01-02','2022-01-03','2022-01-04','2022-01-05','2022-01-06','2022-01-07','2022-01-08','2022-01-09','2022-01-10']}
df = pd.DataFrame(data)
df

  producto  ventas       fecha
0        A     100  2022-01-01
1        B     200  2022-01-02
2        C     150  2022-01-03
3        D     180  2022-01-04
4        E      80  2022-01-05
5        F      90  2022-01-06
6        G     210  2022-01-07
7        H     190  2022-01-08
8        I     220  2022-01-09
9        J     130  2022-01-10

Seleccionar partes específicas del DataFrame utilizando slicing:

1.- Seleccionar solo las primeras 3 filas del DataFrame:

In [4]:
df_3 = df[:3]
df_3

  producto  ventas       fecha
0        A     100  2022-01-01
1        B     200  2022-01-02
2        C     150  2022-01-03

Seleccionar las filas del índice 2 al 6 del DataFrame:

In [5]:
df_2_6 = df[2:7]
df_2_6

  producto  ventas       fecha
2        C     150  2022-01-03
3        D     180  2022-01-04
4        E      80  2022-01-05
5        F      90  2022-01-06
6        G     210  2022-01-07

Seleccionar las filas donde las ventas son mayores a 150:

In [6]:
df_ventas_150 = df[df['ventas'] > 150]
df_ventas_150

  producto  ventas       fecha
1        B     200  2022-01-02
3        D     180  2022-01-04
6        G     210  2022-01-07
7        H     190  2022-01-08
8        I     220  2022-01-09

Seleccionar solo la columna "producto" del DataFrame:

In [7]:
producto = df['producto']
producto

0    A
1    B
2    C
3    D
4    E
5    F
6    G
7    H
8    I
9    J
Name: producto, dtype: object

Seleccionar las columnas "producto" y "ventas" del DataFrame:

In [8]:
producto_ventas = df[['producto', 'ventas']]
producto_ventas

  producto  ventas
0        A     100
1        B     200
2        C     150
3        D     180
4        E      80
5        F      90
6        G     210
7        H     190
8        I     220
9        J     130